version: 2

defaults: &defaults
  docker:
    - image: cimg/node:lts-browsers

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-cache-{{ checksum "package-lock.json" }}
            - npm-cache-
      - run: npm install
      - save_cache:
          key: npm-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run: CI=true npm run test:19
      - run: npm run build
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
      - persist_to_workspace:
          root: ~/project
          paths:
            - .npmrc
            - dist
  deploy:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - run: npm publish
  deploy-beta:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - run: npm publish --tag beta

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /release-[0-9]+\.[0-9]+\.[0-9]+/
            branches:
              ignore: /.*/
      - deploy-beta:
          requires:
            - build
          filters:
            tags:
              only: /beta-[0-9]+\.[0-9]+\.[0-9]+/
            branches:
              ignore: /.*/
